@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.duration_500 {
  transition: all linear 300ms;
}
/* styles.css */
.group-hover\:svgHover path {
  fill: #f7b103; /* Default fill color */
}

.group:hover .svgHover path {
  fill: #000000; /* Hover fill color */
}
